/*Top Bar*/
*{
    margin: 0;
    padding: 0;
    border: 0;
}
.COLMARACADEMY {
    position: relative;
    left: 45px;
    bottom: 47px;
    font-size: 32px;
 }
.Logo {
    height: 50px;
    width: 50px;
    padding-top: 10px;  
 }
#desktop {
    text-align: right;
    position: relative;
    bottom: 80px;
    padding-right: 24px;
    font-size: 25px;
    font-weight: lighter;
} 
#desktop a {
    margin-left: 16px;
    color: black;
    text-decoration: none;
    
}
/*Top-Middle*/
.Top-banner {
    Top: 64px;
    background-color: lightgray;
    position: absolute;
    display: flex;
}
.Left-img{
    margin: 32px 24px;
    width: 60%;
    display: block;
}
.img-study{
    width: 100%;
}
.Right-img{
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    padding-left: 24px;

}
.Right-img h1{
    line-height: 1.2;
    font-size: 40px;
    text-transform: uppercase;
    padding-right: 130px;
    
}
.Lorem{
    width: 85%;
    font-size: 30px;
    padding: 30px 10;
    padding-bottom: 40px;
    line-height: 1.3;
    font-weight: 100;
    color: rgb(117, 139, 112);
}
.Container{
    height: 45px;
    width: 25rem;
    text-align: center;
    border-radius: 5px;
}
.Start-Button {
    height: 45px;
    width: 25rem;
    background-color: black;
    font-size: 20px;
    color: rgb(245, 245, 245);
    cursor: pointer;
    outline: none;
    text-transform: uppercase;
}

.Start-Button:hover {
    background-color: rgb(117, 139, 112);
    color: black;
    transition: .2s ease-out;
    height: 45px;
    width: 25rem;
}